.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.Purple{
    background-color: Purple;
}
.green{
    background-color: green;
}
.hotpink{
    background-color: hotpink;
}

.bold{
    font-weight: bold;
}